.svg-element{    
    pointer-events: all;
}

.darkred:hover {
    fill: red !important;
}

.purple:hover {
    fill: mediumpurple !important;
}

.green:hover {
    fill: lightgreen !important;
}

.page-link{
    cursor:pointer;
}

.floor{
    height:500px;
}

.area-photo{
    display: block;
    width: 100%;
}

.area-photo-container{
    width: 200px;
}

.area-photos-container{
    height: 400px;
    overflow-y: scroll;
}