<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <PapsCourse.Client.RouteViews.AppRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" ></PapsCourse.Client.RouteViews.AppRouteView>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
