@page "/rentArea/{AreaId:int}"
@using PapsCourse.Shared.Models.Area
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]

<link href="/css/mall/rent.css" rel="stylesheet" type="text/css" />

<div class="request-container d-flex justify-content-center">
    <div class="row">
        <div class="area-info rent-container col-4 p-0 shadow">
            <div class="rent-container-title">
                Площадь <span>#@AreaId</span>
            </div>
            <img src="/images/areas/plan-1.jpg" class="area-info-image p-4" />
            <div class="area-info-title">
                Площадь
            </div>
            <div class="area-info-data my-1">
                100
            </div>
            <div class="area-info-title">
                Кондиционер
            </div>
            <div class="area-info-data my-1">
                Есть
            </div>
            <div class="area-info-title">
                Кол-во входов
            </div>
            <div class="area-info-data my-1">
                3
            </div>
            <div class="area-info-title">
                Кол-во окон
            </div>
            <div class="area-info-data my-1">
                6
            </div>
            <div class="area-info-title">
                Цена
            </div>
            <div class="area-info-data my-1">
                6000 Р
            </div>
        </div>
        <div class="request-form-container rent-container col shadow ml-4 px-4">
            <div class="rent-container-title no-col-padding">
                Оформите заявку на аренду
            </div>
            <div class="request-title mt-2 mb-1">
                Магазин
            </div>
            <select class="form-control" @bind="storeId">
                @foreach (var store in stores)
                {
                    <option value="@store.Id">@store.Name</option>
                }
            </select>
            <div class="request-title mt-2 mb-1">
                Категория
            </div>
            <select class="form-control" @bind="categoryId">
                @foreach (var category in categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
            <div class="request-title mt-2 mb-1">
                Средний чек
            </div>
            <input type="text" class="request-input w-100 form-control" @bind="averageReciept" />
            <div class="request-title mt-2 mb-1">
                Сообщение (необязательно)
            </div>
            <textarea class="request-input w-100 form-control" @bind="text"></textarea>
            <button class="send-request-btn d-block ml-auto mt-3" @onclick="SendRentRequestAsync">Отправить</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int AreaId { get; set; }

    private int storeId { get; set; }
    private int categoryId { get; set; }
    private int averageReciept { get; set; }
    private string text { get; set; }

    private List<Store> stores;
    private List<Category> categories;

    private async Task SendRentRequestAsync()
    {
        var request = new RentRequest()
        {
            StoreId = storeId,
            CategoryId = categoryId,
            AverageReciept = averageReciept,
            Text = text
        };

        // send to the server
    }

    protected override async Task OnInitializedAsync()
    {
        // Load from the server
        stores = new List<Store>() {
            new Store()
            {
                Id = 1,
                Name = "Троечка"

            },
             new Store()
            {
                 Id = 2,
                 Name = "Семерочка"
            }
        };

        categories = new List<Category>() {
            new Category()
            {
                Id = 1,
                Name = "Бутик"

            },
             new Category()
            {
                 Id = 2,
                 Name = "Фудкорт"
            }
        };
    }
}
