@inject PapsCourse.Client.Services.Abstract.IAccountSession Session

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Peach</a>
    <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Главная
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="map" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Карта
            </NavLink>
        </li>
        @if (Session.IsAuthenticated)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Сообщения
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Уведомления
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Личный кабинет
                </NavLink>
            </li>
        }
        else
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="account/registration">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Зарегистрироваться
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="account/login">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Войти
                </NavLink>
            </li>
        }
    </ul>
</div>

@code {
    protected override void OnInitialized()
    {
        Session.OnAuthenticated += (jwt) => { StateHasChanged(); };
        Session.OnLogout += () => { StateHasChanged(); };
    }
}
