button {    
    color: white;
    background-color: rebeccapurple;
    padding: 5px 10px;
    border-radius: 5px;        
    border: 1px solid rebeccapurple;
}

button:hover {
    color: rebeccapurple;
    background-color: white;
    text-decoration: none;
}